<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /ci_calculator/index.php/$1 [L]
	RewriteRule ^index\.php$ - [L]
	RewriteRule . /index.php [L]
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 /ci_calculator/index.php
</IfModule>