<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /CodeIgniter-WIP/ci_crud_grocery/index.php/$1 [L] 
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 /CodeIgniter-WIP/ci_crud_grocery/index.php 
</IfModule>